<div class="container">
    <div class="row">
        <div class="col-lg-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="form" (ngSubmit)="logar()">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="email">E-mail</label>
                                            <input type="email" class="form-control" id="email" formControlName="email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="senha">Senha</label>
                                            <input type="password" class="form-control" id="senha" formControlName="senha" required>
                                        </div>
                                    </div>
                                </div>
                                <p>Não possui cadastro? <a [routerLink]="['/novo-usuario/']">Clique aqui!</a> </p>
                                <hr>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <button type="submit" class="btn btn-dark">Entrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>